<div class="w-full h-[1100px] bg-black mt-[-80px]">
    <h3 class="text-center text-[26px] font-normal text-white">
        Welcome to Peace & Privacy
    </h3>
    <h1
        class="text-center text-[55px] w-[70%] ml-[15%] mt-[20px] font-bold text-white"
    >
        Take Self Care to the next Phase. <span class="text-[#FF6000]">
            Both children and adults go trough trauma that deserve forgetting
        </span>
    </h1>
    <p
        class="text-center text-gray-300 text-[16px] font-normal w-[50%] ml-[25%] mt-[5px]"
    >
        Platform that makes other website making for designers easier. this is
        just a placeholder for text for the title. this is just a placeholder
        for text for the title. this is aplaceholder
    </p>
    <div class="w-full h-[65px] mt-[50px] flex items-center justify-center">
        <button class="w-[170px] h-[50px] bg-[#FF6000] rounded-md">
            <h3 class="text-[16px]">Book Now</h3>
        </button>
        <button
            class="w-[170px] h-[50px] border-[1px] border-[#FF6000] text-white text-[18px] ml-[30px] rounded-md"
        >
            <h3 class="text-[16px]">View Locations</h3>
        </button>
    </div>
    <div class="w-[40%] h-[500px] ml-[28%] mt-[-30px]">
        <img
            src="https://i.imgur.com/zUle0J9.png"
            alt=""
            class="w-full h-full"
        />
    </div>
</div>
