<div class="w-full h-[650px] mt-[80px] bg-black">
    <h1 class="text-center text-[50px] mt-[20px] font-bold text-white">
        Watch our
        <span class="text-[#FF6000]"> health </span>

        Collection
    </h1>

    <div class="w-full h-[425px] mt-[50px] flex items-center justify-center">
        <div class="w-[21%] h-full mainImg1 rounded-lg">
            <h3 class="text-center text-[20px] font-bold text-white mt-[20px]">
                Music with Khalid
            </h3>
            <p class="text-center text-[16px] font-light text-[#FF6000]">
                Khalid & Dr.Tossr
            </p>
            <div
                class="w-full h-[60px] mt-[130px] flex items-center justify-center"
            >
                <div class="w-[50px] h-[50px] flex items-center justify-center">
                    <img
                        src="https://i.imgur.com/G7jbw5w.png"
                        alt=""
                        class="w-full h-full"
                    />
                </div>
            </div>
        </div>
        <div class="w-[21%] h-full ml-[25px] mainImg2 rounded-lg">
            <h3 class="text-center text-[20px] font-bold text-white mt-[20px]">
                Nature Views
            </h3>
            <p class="text-center text-[16px] font-light text-white">
                Dr Sasha
            </p>
            <div
                class="w-full h-[60px] mt-[130px] flex items-center justify-center"
            >
                <div class="w-[50px] h-[50px] flex items-center justify-center">
                    <img
                        src="https://i.imgur.com/G7jbw5w.png"
                        alt=""
                        class="w-full h-full"
                    />
                </div>
            </div>
        </div>

        <div class="w-[21%] h-full ml-[25px] mainImg3 rounded-lg">
            <h3 class="text-center text-[20px] font-bold text-white mt-[20px]">
                Photo Therapy
            </h3>
            <p class="text-center text-[16px] font-light text-white">
                Designer ML&B
            </p>
            <div
                class="w-full h-[60px] mt-[130px] flex items-center justify-center"
            >
                <div class="w-[60px] h-[60px] flex items-center justify-center">
                    <img
                        src="https://i.imgur.com/G7jbw5w.png"
                        alt=""
                        class="w-full h-full"
                    />
                </div>
            </div>
        </div>
        <div class="w-[21%] h-full ml-[25px] mainImg4 rounded-lg">
            <h3 class="text-center text-[20px] font-bold text-white mt-[20px]">
                Self Reflection
            </h3>
            <p class="text-center text-[16px] font-light text-white">
                Med Graduate Kyle Smith
            </p>
            <div
                class="w-full h-[60px] mt-[130px] flex items-center justify-center"
            >
                <div class="w-[60px] h-[60px] flex items-center justify-center">
                    <img
                        src="https://i.imgur.com/G7jbw5w.png"
                        alt=""
                        class="w-full h-full"
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="w-full h-[60px] mt-[30px] flex items-center justify-center">
        <button
            class="w-[200px] h-[55px] border-[2px] rounded-lg border-[#FF6000] text-white"
        >
            View More
        </button>
    </div>
</div>

<style>
    .mainImg1 {
        background-image: url("https://i.imgur.com/EPiBAcN.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .mainImg2 {
        background-image: url("https://i.imgur.com/YddLi4s.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .mainImg3 {
        background-image: url("https://i.imgur.com/YPjTC5M.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .mainImg4 {
        background-image: url("https://i.imgur.com/JxBfB9V.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
