<div class="w-full h-[350px] flex items-center justify-center mt-[100px]">
    <div class="w-[60%] h-full">
        <h3
            class="ml-[100px] mt-[50px] text-[50px] font-bold w-[80%] text-[#FF6000]"
        >
            A 30 minute call that will
            <span class="text-white">
                save you time for the rest of your life
            </span>
        </h3>
    </div>
    <div class="w-[60%] h-full">
        <p
            class="text-left ml-[100px] mt-[70px] w-[80%] text-[21px] font-normal text-gray-400"
        >
            Don't stress aout setting up an appointment that will take a
            lifetime to figure out. Don't stress aout setting up an appointment
            that will take a lifetime to figure out.
        </p>
        <div class="w-full h-[60px] mt-[30px] flex items-start justify-start">
            <button
                class="w-[170px] h-[60px] ml-[100px] rounded-2xl bg-gradient-to-br from-[#FF6000] to-[#e9884c] text-[18px] font-bold"
            >
                Set up Call
            </button>
        </div>
    </div>
</div>
