<div class="w-full h-[1400px] mt-[120px] bg-black">
    <h1 class="text-left ml-[250px] text-white text-[60px] font-bold">
        3
        <span class="text-[#FF6000]"> Easy Steps </span>
    </h1>
    <p
        class="text-left text-gray-300 text-[17px] font-normal w-[50%] ml-[250px] mt-[0px]"
    >
        Platform that makes other website making for designers easier. this is
        just a placeholder for text for the title. this is just a placeholder
        for text for the title. this is aplaceholder
    </p>
    <div class="w-[28%] h-[550px] ml-[250px] mt-[-50px]">
        <div class="w-full h-[420px] mainImg1"></div>
        <h3 class="text-left ml-[0px] text-[23px] font-bold mt-[15px]">
            Become a Member
        </h3>
        <p
            class="text-left text-[16px] ml-[0px] w-[90%] mt-[5px] text-gray-400"
        >
            With our easy to use website join our family free with your email.
        </p>
    </div>
    <div class="w-[28%] h-[580px] ml-[55%] mt-[-300px]">
        <div class="w-full h-[480px] mainImg2"></div>
        <h3 class="text-left ml-[0px] text-[23px] font-bold mt-[15px]">
            Set Up Appointment
        </h3>
        <p
            class="text-left text-[16px] ml-[0px] w-[90%] mt-[5px] text-gray-400"
        >
            With our easy to use website join our family free with your email.
        </p>
    </div>
    <div class="w-[28%] h-[550px] ml-[250px] mt-[-250px]">
        <div class="w-full h-[420px] mainImg3"></div>
        <h3 class="text-left ml-[0px] text-[23px] font-bold mt-[15px]">
            Become a Member
        </h3>
        <p
            class="text-left text-[16px] ml-[0px] w-[85%] mt-[5px] text-gray-400"
        >
            With our easy to use website join our family free with your email.
        </p>
    </div>
</div>

<style>
    .mainImg1 {
        background-image: url("https://i.imgur.com/DH0moGk.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .mainImg2 {
        background-image: url("https://i.imgur.com/j1ssdLh.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .mainImg3 {
        background-image: url("https://i.imgur.com/D0pVBla.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
