<div class="w-full h-[750px] mt-[-30px]">
    <h1 class="text-center text-[60px] font-bold text-white">
        About
        <span class="text-[#FF6000]"> Our </span>
        Vision
    </h1>
    <p
        class="text-center text-gray-300 text-[17px] font-normal w-[50%] ml-[25%] mt-[0px]"
    >
        Platform that makes other website making for designers easier. this is
        just a placeholder for text for the title. this is just a placeholder
        for text for the title. this is aplaceholder
    </p>
    <div
        class="w-[80%] h-[600px] ml-[14%] mt-[0px] flex items-center justify-center"
    >
        <div class="w-[60%] h-full">
            <div
                class="w-[90%] h-[50%] ml-[5%] mt-[40px] flex items-center justify-center"
            >
                <div
                    class="w-[40%] h-full bg-gradient-to-tl from-white to-gray-300 rounded-lg"
                >
                    <h1
                        class="text-[60px] text-center ml-[0px] mt-[60px] font-bold text-black"
                    >
                        15
                        <span class="text-[#FF6000] ml-[-15px]"> K </span>
                    </h1>
                    <p
                        class="text-center ml-[15px] text-[16px] mt-[-5px] w-[85%] text-gray-500"
                    >
                        Solved cases with clients that chose bloom for their
                        trauma
                    </p>
                </div>
                <div
                    class="w-[60%] h-full border-2 border-[#FF6000] rounded-lg ml-[20px]"
                >
                    <div
                        class="w-full h-[60px] mt-[10px] flex items-start justify-start"
                    >
                        <img
                            src="https://i.imgur.com/vmf5BUH.png"
                            alt=""
                            class="w-[80px] h-[60px] bg-blue-300 ml-[25px]"
                        />
                    </div>
                    <h3
                        class="ml-[20px] mt-[-20px] text-[42px] w-[80%] font-bold text-white"
                    >
                        Team USA Bound
                    </h3>
                    <div
                        class="w-full h-[50px] mt-[0px] flex items-center justify-center"
                    >
                        <div class="w-[50px] h-[50px] ml-[130px]">
                            <img
                                src="https://i.imgur.com/fQVun6H.png"
                                alt=""
                                class="w-full h-full"
                            />
                        </div>
                        <div class="w-[50px] h-[50px] ml-[-10px]">
                            <img
                                src="https://i.imgur.com/bOY3t2k.png"
                                alt=""
                                class="w-full h-full"
                            />
                        </div>
                        <div class="w-[50px] h-[50px] ml-[-10px]">
                            <img
                                src="https://i.imgur.com/YXwEIi9.png"
                                alt=""
                                class="w-full h-full"
                            />
                        </div>
                    </div>
                    <p
                        class="text-center ml-[0px] mt-[10px] font-bold text-[18px] text-white"
                    >
                        In
                        <span class="text-[#FF6000]"> 10+ </span>
                        States and Expanding
                    </p>
                </div>
            </div>
            <div
                class="w-[90%] h-[30%] bg-gradient-to-tr from-white to-gray-400 ml-[5%] mt-[30px] rounded-lg flex items-center justify-center"
            >
                <div class="w-[50%] h-full">
                    <h1
                        class="text-[45px] font-bold ml-[20px] mt-[22px] text-black"
                    >
                        24

                        <span class="text-[#FF6000] ml-[-10px]"> Hrs </span>
                    </h1>
                    <p
                        class="text-[16px] font-normal ml-[20px] mt-[-5px] w-[105%] text-gray-500"
                    >
                        Every day we are available 24 hours to your needs. No
                        appointment needed.
                    </p>
                </div>
                <div class="w-[50%] h-full">
                    <div class="w-[100%] h-[90%] ml-[0px] mt-[18px]">
                        <img
                            src="https://i.imgur.com/x6gTEnq.png"
                            alt=""
                            class="w-full h-full"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="w-[40%] h-full flex items-center justify-center">
            <div
                class="w-[80%] h-[85%] border-2 border-[#FF6000] rounded-lg ml-[-80px]"
            >
                <div
                    class="w-[90%] h-[180px] ml-[5%] mt-[50px] flex items-center justify-center mainbg"
                >
                    <img
                        src="https://i.imgur.com/LRVEFN9.png"
                        alt=""
                        class="w-[150px] h-[150px] ml-[0px]"
                    />
                </div>
                <div
                    class="w-full h-[35px] flex items-center justify-center mt-[15px]"
                >
                    <h1 class="ml-[0px] text-[40px] font-bold text-white">
                        A+ Graded
                    </h1>
                </div>
                <div class="w-[90%] h-[250px] rounded-lg ml-[5%]">
                    <p
                        class="text-center ml-[10px] text-[16px] mt-[10px] w-[90%] text-gray-300"
                    >
                        "This is a placeholder for the box inside.This is a
                        placeholder for the box inside."
                    </p>
                    <div
                        class="w-full flex items-center justify-center mt-[10px]"
                    >
                        <button
                            class="w-[200px] h-[45px] mt-[15px] rounded-lg bg-gradient-to-br from-orange-300 to-orange-600 text-black"
                        >
                            <h3 class="text-[16px]">Contact Us</h3>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .mainbg {
        background-image: url("https://i.imgur.com/dPya4If.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .cardgradient {
        border: 3px solid transparent; /* Define a transparent border */
        border-image: linear-gradient(to right, #ff6000, #efaf87) 1; /* Apply the gradient */
    }
</style>
